# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables (Crucial for security!)
.env
env
.env_ENHANCED

# Project specific
PROJECT_BUNDLE.txt
*.txt
*.log
*.html
*.png
*.db


# OS generated
.DS_Store
Thumbs.db

# Random files
.local
documentation
ss
SS*
data/*
!data/.gitkeep

data/db/*.db
data/backups/*.db
